* {
    font-family: 'Roboto', sans-serif;
}

/* cuerpo de la pagina, le define un color y un tamaño */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a4c6e;
}

/* contenedor donde se muestran los datos en el html */
.contaier {
    background-color: #dcd1b4;
    padding: 20px;
    color: #5a4c6e;
    display: flex;
    display: none;
}

/* le da un margen interno (pading) al bloque padre */
.contaier > .block {
    padding: 20px;
}

/* le da diferentes colores a el cuerpo y letra de el bloque hijo */
.block:first-child {
 background-color: #5a4c6e;
 color: #dcd1b4;
}

/* contien los mensajes donde se muestran los datos */
.information-container {
    display: flex;
}
 
/* le da un margen a la informacion para separar los datos de el texto "temperatura" 7 */
.information {
    margin-left: 5px;
}

/* le da un diferente tamaño de letra a el mensaje de el bloque padre */
#location {
    font-weight: bold;
    font-size: 22px;  
}

/* desde aqui son datos de una pagina de spiners (gifs de carga) */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #dcd1b4;
  font-size: 11px;
  text-indent: -99999em;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #5a4c6e;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #5a4c6e;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
